<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>moreDashBoard</title>
    <script src="https://kit.fontawesome.com/a06d7ad725.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/more/moreDashBoard.css">
</head>
<body>
    <div class="moreDashBoard_div1">
        <div class="moreDashBoard_div2">
            <div class="moreDashBoard_top">
                <!-- 위쪽 왼쪽 상자 -->
                <div class="moreDashBoard_top_left">
                    <div class="moreDashBoard_top_left_top">
                        <span>00님,</span><br>
                        <span>안녕하세요</span>
                        <span>안녕하세요안녕하세요안녕하세요안녕하세요</span>
                    </div>
                    <div class="moreDashBoard_top_left_down">
                        <span>일주일 간의 가족 관계 건강 지수는?</span>
                        <div class="moreDashBoard_top_left_down2">
                            <div class="moreDashBoard_top_left_down3">
                                <div class="moreDashBoard_top_left_down2_weather">
                                    <span><i class="fa-regular fa-sun"></i></span>
                                </div>
                                <div class="moreDashBoard_top_left_down2_right">
                                    <span>90점</span>
                                    <span>이번주에는 서로 칭찬을 3회 이상 해보세요.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 위쪽 오른쪽 상자 -->
                <div class="moreDashBoard_top_right">
                    <span>내가 참여한 대화의 감정 통계</span>
                    <div class="moreDashBoard_top_right_box">
                        <div class="moreDashBoard_top_right_box2">
                            <div class="moreDashBoard_top_right1">
                                <hr>
                                <span>2024.08.25</span>
                            </div>
                            <div class="moreDashBoard_top_right2">
                                <span>😀</span>
                                <span>😮</span>
                                <span>😭</span>
                                <span>😠</span>
                                <span>😱</span>
                                <span>😑</span>
                            </div>
                            <div class="moreDashBoard_top_right3">  
                                <div class="moreDashBoard_top_right3_circle1">
                                    <div></div>
                                    <span>참여자1</span>
                                </div>
                                <div class="moreDashBoard_top_right3_circle2">
                                    <div></div>
                                    <span>참여자2</span>
                                </div>
                            </div>
                            <div class="moreDashBoard_top_right4">
                                <span>감정에 대한 분석 충고감정에 대한 분석 충고감정에 대한 분석 충고감정에 대한 분석 충고감정에 대한 분석 충고감정에 대한 분석 충고감정에 대한 분석 충고</span>
                            </div>
                            <div class="moreDashBoard_top_right5">
                                <div class="moreDashBoard_top_right5_date">
                                    <i class="fa-solid fa-angles-left"></i>
                                    <span>2024.08.25 ~ 2024.08.25</span>
                                    <i class="fa-solid fa-angles-right"></i>
                                </div>
                                <div class="moreDashBoard_top_right5_dateList">
                                    <div class="moreDashBoard_top_right5_dateList1">
                                        <span>📌</span>
                                        <span>2024.08.25</span>
                                        <span>제목</span>
                                    </div>
                                    <div class="moreDashBoard_top_right5_dateList1">
                                        <span>📌</span>
                                        <span>2024.08.25</span>
                                        <span>제목</span>
                                    </div>
                                    <div class="moreDashBoard_top_right5_dateList1">
                                        <span>📌</span>
                                        <span>2024.08.25</span>
                                        <span>제목</span>
                                    </div>
                                    <div class="moreDashBoard_top_right5_dateList1">
                                        <span>📌</span>
                                        <span>2024.08.25</span>
                                        <span>제목</span>
                                    </div>
                                    <div class="moreDashBoard_top_right5_dateList1">
                                        <span>📌</span>
                                        <span>2024.08.25</span>
                                        <span>제목</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- 아래쪽 상자 -->
            <div class="moreDashBoard_down">
                <span>솔버가 재구성한 대화 </span>
                <div class="moreDashBoard_down2">
                    <div class="moreDashBoard_down3">
                        <div class="calendar-box">
                            <div class="calendar-box_top">
                                <span>대화 재구성 원하는 영상의 날짜를 클릭하세요.</span>
                                <div class="calendar_foot">
                                    <button id="prev"><i class="fa-solid fa-angles-left"></i></button>
                                    <button id="next"><i class="fa-solid fa-angles-right"></i></button>
                                </div>
                            </div>
                            <div id="calendar">
                                <div id="calendar-header">
                                    <span id="month-year"></span>
                                </div>
                                <table id="calendar-body">
                                    <thead>
                                        <tr>
                                            <th>Sun</th>
                                            <th>Mon</th>
                                            <th>Tue</th>
                                            <th>Wed</th>
                                            <th>Thu</th>
                                            <th>Fri</th>
                                            <th>Sat</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="moreDashBoard_down3_openBox">
                            <div class="moreDashBoard_down3_openBox_top">
                                <span class="moreDashBoard_down3_openBox_top_span">
                                    중립적인 대화 재구성 기능
                                    기능 설명: 갈등 상황에서 감정적으로 격한 대화가 오갈 때, AI가 이를 더 중립적이고 건설적인 대화로 재구성해 제안합니다. 예를 들어, “너는 항상 이기적이야” 같은 표현을 “내가 느끼기엔 이 상황이 불편했어”와 같이 바꿔주는 기능입니다.
                                    (스크롤)
                                    중립적인 대화 재구성 기능
                                    기능 설명: 갈등 상황에서 감정적으로 격한 대화가 오갈 때, AI가 이를 더 중립적이고 건설적인 대화로 재구성해 제안합니다. 예를 들어, “너는 항상 이기적이야” 같은 표현을 “내가 느끼기엔 이 상황이 불편했어”와 같이 바꿔주는 기능입니다.
                                    (스크롤)
                                    중립적인 대화 재구성 기능
                                    기능 설명: 갈등 상황에서 감정적으로 격한 대화가 오갈 때, AI가 이를 더 중립적이고 건설적인 대화로 재구성해 제안합니다. 예를 들어, “너는 항상 이기적이야” 같은 표현을 “내가 느끼기엔 이 상황이 불편했어”와 같이 바꿔주는 기능입니다.
                                    (스크롤)
                                    중립적인 대화 재구성 기능
                                    기능 설명: 갈등 상황에서 감정적으로 격한 대화가 오갈 때, AI가 이를 더 중립적이고 건설적인 대화로 재구성해 제안합니다. 예를 들어, “너는 항상 이기적이야” 같은 표현을 “내가 느끼기엔 이 상황이 불편했어”와 같이 바꿔주는 기능입니다.
                                    (스크롤)
                                </span>
                            </div>
                            <i class="fa-solid fa-angles-right"></i>
                            <div class="moreDashBoard_down3_openBox_down">
                                <span class="moreDashBoard_down3_openBox_down_span">
                                    중립적인 대화 재구성 기능
                                    구현 방식: 대화 내용을 분석해 공격적이거나 부정적인 표현을 감지하고, 대안을 제시합니다. 이를 통해 가족 구성원 간의 대화가 더 부드럽고 효과적으로 진행됩니다.
                                    (스크롤)
                                    중립적인 대화 재구성 기능
                                    기능 설명: 갈등 상황에서 감정적으로 격한 대화가 오갈 때, AI가 이를 더 중립적이고 건설적인 대화로 재구성해 제안합니다. 예를 들어, “너는 항상 이기적이야” 같은 표현을 “내가 느끼기엔 이 상황이 불편했어”와 같이 바꿔주는 기능입니다.
                                    (스크롤)
                                    중립적인 대화 재구성 기능
                                    기능 설명: 갈등 상황에서 감정적으로 격한 대화가 오갈 때, AI가 이를 더 중립적이고 건설적인 대화로 재구성해 제안합니다. 예를 들어, “너는 항상 이기적이야” 같은 표현을 “내가 느끼기엔 이 상황이 불편했어”와 같이 바꿔주는 기능입니다.
                                    (스크롤)                                    중립적인 대화 재구성 기능
                                    기능 설명: 갈등 상황에서 감정적으로 격한 대화가 오갈 때, AI가 이를 더 중립적이고 건설적인 대화로 재구성해 제안합니다. 예를 들어, “너는 항상 이기적이야” 같은 표현을 “내가 느끼기엔 이 상황이 불편했어”와 같이 바꿔주는 기능입니다.
                                    (스크롤)
                                    중립적인 대화 재구성 기능
                                    기능 설명: 갈등 상황에서 감정적으로 격한 대화가 오갈 때, AI가 이를 더 중립적이고 건설적인 대화로 재구성해 제안합니다. 예를 들어, “너는 항상 이기적이야” 같은 표현을 “내가 느끼기엔 이 상황이 불편했어”와 같이 바꿔주는 기능입니다.
                                    (스크롤)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="scroll-arrow">
            <i class="fa-solid fa-angles-down"></i>
        </div>
    </div>



    <script src="/more/moreDashBoard.js"></script>
</body>
</html>