<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a06d7ad725.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/hyeeun/css/header.css}">
    <link rel="stylesheet" href="/seoyun/css/myPageDetail2.css">
</head>
<body>
<div th:replace="~{hyeeun/header :: header}"></div>

<div class="myPageDetail_container">
    <!-- 위 -->
    <div class="myPageDetail_top">
        <!-- SECTION 1 갈등 영상 -->
        <div class="top_left">
            <div class="top_left_sec">
                <span>🔥 CONFILCT VIDEO_</span>
                <span th:text="${gptTitle}">제목 없음</span>
            </div>
            <div class="top_left_mid">
                <div class="top_left_mid1">
                    <span>|</span>
                    <span>갈등의 순간을 다시 살펴보며,<br>더 나은 방향을 고민해보는 건 어떨까요?</span>
                </div>
                <div class="top_left_mid2">
                    <button id="trashBtn">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
            </div>
            <div class="top_left_video">
                <video class="myVideo1" id="myVideo" controls>
                    <source th:src="${videoUrl}" type="video/mp4">
                </video>
            </div>
        </div>
        <!-- SECTION  3솔루션 영상 -->
        <div class="top_right">
            <div class="top_right_sec">
                <span>💡 SOLUTION</span>
            </div>
            <div class="top_right_mid">
                <div class="top_right_mid1">
                    <span>|</span>
                    <span>솔버가 갈등에 대한 해결 방법을 알려드릴게요.</span>
                </div>
            </div>
            <div class="top_right_video">
                <video class="myVideo2" id="myVideo2" controls>
                    <source type="video/mp4" th:src="${aiVideoUrl}">
                </video>
            </div>
        </div>
    </div>

    <!-- 아래 -->
    <div class="myPageDetail_down">
        <!-- SECTION 2 힐링 유튜브 영상 -->
        <div class="down_left">
            <div class="down_left_sec">
                <span>☀️ RELAXING</span>
            </div>
            <div class="down_left_mid">
                <div class="down_left_mid1">
                    <span>|</span>
                    <span>솔버와 함께 힐링의 시간을 가져보세요.</span>
                </div>
            </div>
            <div class="down_left_video">
                <div class="down_video_top">
                    <!--                    <div class="down_img_top">-->
                    <!--                        <img src="/seoyun/img/hyo.png" alt="">-->
                    <!--                    </div>-->
                    <div id="player" class="myVideo3"></div>
                    <!--                    <video class="myVideo3" id="myVideo3" controls>-->
                    <!--                        <source type="video/mp4">-->
                    <!--                    </video>-->
                </div>
                <!--                <div class="down_video_down">-->
                <!--                    <video class="myVideo4" id="myVideo4" controls>-->
                <!--                        <source type="video/mp4">-->
                <!--                    </video>-->
                <!--                </div>-->
            </div>
        </div>
        <!-- SECTION 4 참여자별 솔루션 텍스트 -->
        <div class="down_right">
            <div class="down_right_sec">
                <span>🧑🏼‍❤️‍👩🏻 GUIDE</span>
            </div>
            <div class="down_right_mid">
                <div class="down_right_mid1">
                    <span>|</span>
                    <span>참여자별로 도움이 될 행동 가이드를 준비했어요.</span>
                </div>
                <div class="down_right_mid2">
                    <button id="readBtn">
                        <i class="fa-solid fa-volume-up"></i>
                    </button>
                </div>
            </div>
            <div class="down_right_textBox">
                <div class="slider">
                    <div class="parti" th:each="entry : ${participants}">
                        <span th:text="${entry.key}">참여자</span>
                        <span th:utext="${entry.value}">
                            참여자 솔루션 없음
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/hyeeun/js/header.js"></script>
<script src="/seoyun/js/myPageDetail.js"></script>
<script src="/seoyun/js/myPageDetail2.js"></script>
</body>
</html>