* {
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    font-family: Arial, sans-serif;
}

.myPageMain_container {
    /*background: linear-gradient(137.29deg,*/
    /*#03BED6 20.13%,*/
    /*#10B3DA 33.05%,*/
    /*#1DA4E1 45.02%,*/
    /*#249CE5 58.56%,*/
    /*#2D8EED 72.11%,*/
    /*#3084F4 83.13%);*/
    display: flex;
    justify-content: center;
}

.myPageMain_container2 {
    margin-top: 10vh;
    width: 50%;
}

.myPageMain_top {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 2.8vh;
    font-weight: bold;
    align-items: center;
}

.myPageMain_input {
    position: relative;
    display: inline-block;
}

.myPageMain_input > input {
    margin-top: 2vh;
    height: 5vh;
    width: 45vh;
    border-radius: 1vh;
    border: 0.2vh solid rgb(65, 154, 255);
    padding-left: 4vh;
    box-sizing: border-box;
    transition: border 0.2s;
}

.myPageMain_input > input:focus {
    border: 0.2vh solid rgb(0, 0, 0);
    outline: none;
}

.myPageMain_input > input::placeholder {
    color: rgb(173, 173, 173);
    font-size: 1.4vh;
}

.myPageMain_input > span {
    position: absolute;
    left: 1vh;
    top: 50%;
    transform: translateY(-50%);
}

.myPageMain_input > span > i {
    font-size: 1.7vh;
    color: rgb(202, 202, 202);
}

/* **************************************** */
.myPageMain_lastVideoBox {
    margin-top: 7vh;
}

.myPageMain_videoBox1 {
    display: flex;
    justify-content: space-between;
    font-size: 1.8vh;
    font-weight: bold;
    align-items: center;
    width: 100%;
}

.myPageMain_videoBox1 > span:nth-child(2) {
    font-size: 1.4vh;
    color: black;
    cursor: pointer;
}

.myPageMain_videoBox2 {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3vh;
    margin-bottom: 3vh;
    height: 53vh;
    overflow: hidden;
}

.myPageMain_videoBox6 {
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3vh;
    margin-bottom: 3vh;
    /*height: 53vh;*/
    /*overflow: hidden;*/
    overflow-y: auto;
    max-height: 56vh;
}

.myPageMain_videoBox3 {
    width: 46%;
    border: 0.2vh solid black;
    border-radius: 0.7vh;
    margin-bottom: 2vh;
    overflow: hidden;
    height: 25vh;
    position: relative;
    cursor: pointer;
    min-width: 30vh;
    flex-wrap: nowrap;
}

.myPageMain_videoBox3 > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myPageMain_videoBox4 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1vh;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 1.4vh;
}

.myPageMain_lastVideoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myPageMain_downBar {
    font-size: 4vh;
    background: linear-gradient(to bottom, rgb(0, 112, 240), #000000);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 4vh;
    animation: bounce 2s infinite;
}

.myPageMain_UpBar {
    font-size: 4vh;
    background: linear-gradient(to bottom, rgb(0, 112, 240), #000000);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10vh;
    animation: bounce 2s infinite;
    margin-top: 15vh;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(1vh);
    }
    60% {
        transform: translateY(0.5vh);
    }
}

.myPageMain_downBar > i {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.myPageMain_videoBox6::-webkit-scrollbar {
    display: none;
}

.video-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.no-videos {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 2vh;
    font-weight: bold;
}

#no-videos2 {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 55vh;
    font-size: 2vh;
    font-weight: bold;
}