a {text-decoration-line: none; color: white;}
* { margin: 0;
    padding: 0;


    
}
hr{height: 70px;}
body {
    display: flex; 
    flex-direction: column; 
    /* justify-content: center; */
    /* background-color: skyblue; */
    color: white;
    height: 100vh;
    background: linear-gradient(to bottom,#03BED6,#10B3DA, #1DA4E1,#249CE5,#2D8EED,#3084F4);

}
.find {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    height: 650px;
    margin-top: 40px;
    margin-bottom: 60px;
    background: #ffffff;
    border: 1px solid #aacdff;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 15px;
  }