/* 공통부분 */
a {
    text-decoration-line: none;
    color: white;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    text-wrap: nowrap;
}


body {
    /* display: flex; 
    flex-direction: column;  */
    /* justify-content: center; */
    /* background-color: skyblue; */
    /* color: white; */
    height: 100vh;
    background: linear-gradient(137.29deg,
            #03BED6 20.13%,
            #10B3DA 33.05%,
            #1DA4E1 45.02%,
            #249CE5 58.56%,
            #2D8EED 72.11%,
            #3084F4 83.13%);
}

.login-header-img {
    /* background-color: yellowgreen; */
    height: 90px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.356);
    display: flex;
    align-items: center;
}

.login-header-img>a>img {
    height: 55px;
    margin-left: 30px;
}


/* **************************************************************************** */
.login_container {
    display: flex;
    justify-content: center;
}

.login_container2 {
    /* background-color: rgb(0, 255, 55); */
    margin-top: 50px;
    width: 80%;
    display: flex;
}

/* **************************왼쪽**************************** */
.login_side {
    /* background-color: tan; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    color: white;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 70px;
}

.login_intro1{
    font-weight: 400;
}

.login-body-img {
    margin-top: 40px;
}

.login-body-img>img{
    width: 450px;
}


/* *******************************오른쪽**************************** */
.login_formBox {
    /* background-color: rgb(109, 66, 66); */
    display: flex;
    justify-content: flex-end;
    width: 63%;
}

.login_formBox2 {
    background-color: black;
    width: 65%;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    color: #c9c9c9;
    font-size: 15px;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 10px;
}

.login-img>img {
    width: 140px;
    margin-top: 10px;
}



.login-input-idbox{
    width: 80%;
    /* background-color: #03BED6; */
    margin-top: 30px;
}

.login-input-pwbox{
    width: 80%;
    /* background-color: #03BED6; */
    margin-bottom: 25px;
}

.login-input-idbox > input{
    width: 98%;
    height: 50px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    font-size: 18px;
}

.login-input-idbox> input:focus {
    outline: none; /* Remove default outline */
}

.login-input-pwbox> input:focus {
    outline: none; /* Remove default outline */
}

.login-input-idbox > input::placeholder{
    font-size: 14px;
    color: #383838;
}

.login-input-pwbox > input::placeholder{
    color: #383838;
    font-size: 14px;
}


.login-input-pwbox > input{
    width: 98%;
    height: 50px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    font-size: 18px;
    margin-top: 20px;
}


.login-check{
    width: 78%;
}

#login_btn{
    margin-top: 60px;
    width: 60%;
    height: 50px;
    border-radius: 8px;
    background-color: #4461F2;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px;
}

.login_register{
    /* background-color: yellowgreen; */
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login_register > a{
    color: #c9c9c9;
}


/* ******************************************* */
.login_type{
    margin-top: 80px;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.login_typeLine {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    position: relative;
    width: 100%;    
    justify-content: center; 
}

.login_typeLine hr {
    width: 100%;
    border: none;
    border-top: 1px solid #d6d9dc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.or-text {
    color: #d6d9dc;
    font-size: 14px;
    background-color: #000000;
    padding: 0 30px;
    position: relative;
    z-index: 1;
    line-height: 1; /* 텍스트가 중앙에 오도록 */
}

.login_typeIcon{
    margin-top: 15px;
    /* background-color: yellowgreen; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.login_typeIcon > button {
    height: 55px;
    width: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login_typeIcon>button>img {
    width: 35px;
    border-radius: 10px;
}
