<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서버와 갈등 상황 시뮬레이션</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/hyeeun/css/scenario.css">
    <link rel="stylesheet" th:href="@{/hyeeun/css/header.css}">
</head>
<body>
<div th:replace="~{hyeeun/header :: header}"></div>
<div class="container">
    <h1> <솔버와 갈등상황 훈련하기> </h1>
    <h2>솔버가 훈련 상황을 드릴게요</h2>
    <button class="click" id="startBtn">이곳을 클릭하세요</button>

    <div id="scenario" style="display: none;">
        <div class="box" id="conflictScenario"></div>
        <div class="scroll-box">
            <div class="bubble" id="gptConversation"></div>
            <div class="bubble2" id="userResponse" style="display:none;">
                <div id="sttResult"></div>
            </div>
            <div class="bubble3" id="feedback" style="display:none;"></div>
            <div class="bubble" id="nextConversation" style="display:none;"></div>
        </div>

        <div class="send-container">
            <div id="recordBtn" class="icon-container">
                <img src="/hyeeun/img/record-icon.png" alt="녹음 아이콘" class="icon">
            </div>
            <p>솔버와 대화를 시작해보세요</p>
            <div id="sendBtn" class="icon-container">
                <img src="/hyeeun/img/send-icon.png" alt="전송 아이콘" class="icon">
            </div>
        </div>

        <div class="information">
            <p>솔버와 대화를 시작해보세요.<br>녹음 아이콘을 누르고 대화 녹음을 시작해요.<br>녹음을 마친 후 전송 아이콘을 눌러 전송해요.</p>
        </div>
    </div>
</div>

<script src="/hyeeun/js/scenario.js"></script>
</body>
</html>
