<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOLVER</title>
    <link rel="stylesheet" href="/yuna/css/solver.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <script src="/yuna/js/solver.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body>
<header>
    <div class="solver_headerContainer">
        <div class="solver_logo">
            <img src="/yuna/img/solver_logo.png">
        </div>
        <nav class="solver_navMenu">
            <ul>
                <li class="navAbout">브랜드</li>
                <li class="navService">서비스</li>
                <li class="navReview">리뷰</li>
                <li>
                    <button id="solver_loginBtn" type="button">로그인</button>
                </li>
                <li>
                    <button id="solver_registerBtn" th:onclick="|window.location.href='@{/user/sign}'|">회원가입
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="solver_mainContainer">
        <div class="solver_mainContent">
            <h3>사회적 문제인 가족 갈등 조정을 위한 똑똑한 우리집 퍼실리테이터</h3>
            <h1>SOLVER</h1>
        </div>
        <div class="solver_registerBtn">
            <button id="solver_registerBtn2">회원가입하기</button>
        </div>
        <div class="solver_homecam">
            <img src="/yuna/img/solver_homecam.png">
        </div>
    </div>
</main>

<section>
    <div class="solver_bk">
        <div class="solver_about hidden">
            <h6>About</h6>
            <p>친절한 중재자, 솔버(SOLVER) 홈캠과 함께라면<br> 여러분의 집은 항상 평화로울 겁니다.</p>
            <span>가족의 소중한 순간을 지켜주는 솔버(SOLVER) 홈캠, 갈등을 예방하고 조화로운 가정을 만들어냅니다.</span>
        </div>
        <div class="solver_aboutBox hidden">
            <div class="solver_count">
                <div class="countBox">
                    <h3>솔버(SOLVER)와<br> 함께한 유저</h3>
                    <p id="userCount">00,000+</p>
                </div>
            </div>
            <div class="solver_count">
                <div class="countBox">
                    <h3>솔버(SOLVER)<br> 앱 다운로드 수</h3>
                    <p id="downloadCount">00,000+</p>
                </div>
            </div>
            <div class="solver_count">
                <div class="countBox">
                    <h3>솔버(SOLVER)<br> 누적 투자액</h3>
                    <p id="investmentCount">00,000원</p>
                </div>
            </div>
        </div>
        <div class="solver_etcBtn">
            <button>더 알아보기</button>
        </div>
    </div>
    <div class="solver_bk2">
        <div class="solver_mainServiceContainer">
            <div class="solver_mainService hidden">
                <h6>Main Service</h6>
                <p>솔버(SOLVER)로 갈등해결하고<br> 가정에서 행복한 대화를 나눠보세요.</p>
            </div>
            <div class="solver_onboardingContainer">
                <div class="solver_onboardingBox1 hidden">
                    <div class="solver_onboarding">
                        <h6>갈등상황 실시간 감지 + 감정 분석 모델</h6>
                        <p>가정 내 대화를 모니터링하며, <br>갈등이 발생할 수 있는 상황을<br> 실시간으로 감지</p>
                        <span>음성 톤, 억양, 표정, 동작 등을 분석하여 다양한 감정을<br> 분류할 수 있습니다.
                                멀티 모달 접근법을 사용하며, 음성 입력, 카메라 <br>입력을 모두 활용해 분류의 정확성과 신뢰성을 향상시켰습니다.</span>
                    </div>
                    <img src="/yuna/img/solver_onboarding2.jpg" alt="온보딩화면사진2">
                </div>
                <div class="solver_onboardingBox2 hidden">
                    <img src="/yuna/img/solver_onboarding1.jpg" alt="온보딩화면사진1">
                    <div class="solver_onboarding">
                        <h6>상호작용 및 음성중재 + 갈등 상황 해결방안 제시</h6>
                        <p>사용자 간의 상호작용을 <br>통해 갈등 상황을 중재</p>
                        <span>분석된 데이터와 대화 내용을 바탕으로<br> 갈등 해결을 위한 구체적인 방안을 제시해 줍니다.</span>
                    </div>
                </div>
                <div class="solver_onboardingBox3 hidden">
                    <div class="solver_onboarding">
                        <h6>스스로 움직이는 AI 중재자</h6>
                        <p>신속하고 적절한<br> 이동까지</p>
                        <span>음성을 인식한 후 갈등 상황이 발생한 장소로<br> 자율주행 모드를 활성화하여 이동합니다.</span>
                    </div>
                    <img src="/yuna/img/solver_onboarding3.jpg" alt="온보딩화면사진3">
                </div>
            </div>
        </div>

        <div class="solver_wh">
            <div class="solver_wh2">
                <div class="solver_review hidden">
                    <h6>Developer Review</h6>
                    <p>개발자가 말하는<br> 솔버(SOLVER)</p>
                </div>
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="profileslider">
                                <img src="/yuna/img/solver_seoyeon.png">
                                <h3>갈등 예방과 조정</h3>
                                <p>솔버 홈캠은 가정 내의 음성과 행동을 모니터링하여 갈등 상황을 미리 감지하고 중재할 수 있습니다. 이를 통해 가족 간의 갈등을 예방하고 조정하여 가정
                                    분위기를 향상시킵니다.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="profileslider">
                                <img src="/yuna/img/solver_seoyun.png">
                                <h3>보안 및 안전</h3>
                                <p>홈캠은 가정의 보안을 강화하고 외부 침입자나 위험 상황을 신속하게 감지할 수 있습니다. 이를 통해 가정과 가족의 안전을 보장하고 위험 상황에 대비할 수
                                    있습니다.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="profileslider">
                                <img src="/yuna/img/solver_yuna.png">
                                <h3>리모트 모니터링</h3>
                                <p>솔버 홈캠은 언제 어디서나 스마트폰 또는 컴퓨터를 통해 가정을 실시간으로 모니터링할 수 있습니다. 이를 통해 사용자는 외출 중에도 가정 상황을 체크하고
                                    필요할 때 대응할 수 있습니다.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="profileslider">
                                <img src="/yuna/img/solver_yoonseo.png">
                                <h3>데이터 분석과 통계</h3>
                                <p>솔버 홈캠은 가정 내의 활동을 기록하고 분석하여 사용자에게 유용한 통계 정보를 제공할 수 있습니다. 이를 통해 가정에서 발생하는 패턴을 파악하고 개선할
                                    수 있습니다.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="profileslider">
                                <img src="/yuna/img/solver_hyeeun.png">
                                <h3>편의성과 편안함</h3>
                                <p>솔버 홈캠은 사용자에게 편의성과 편안함을 제공합니다. 가정의 보안과 안전을 강화하고 갈등 상황을 예방하며, 외출 중에도 가정을 모니터링할 수 있어
                                    사용자의 불안을 덜어줍니다.</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="solver_footerContainer">
        <div class="solver_concatLogo">
            <img src="/yuna/img/solver_CONCAT.png">
        </div>
        <div class="solver_member">
            <p>PM : 정서윤 | TM : 김소연, 김윤아, 조혜은, 최윤서</p>
            <p>주소 : 서울특별시 성동구 살곶이길 200(사근동) 정보문화관
                <br>사업자 등록번호: 000-00-0000
            </p>
        </div>
        <div class="solver_info"><h3>개인정보 처리방침 | 이용약관 | 사업자 정보 확인</h3></div>
    </div>
</footer>
</body>

</html>