<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOLVER_trash</title>
    <link rel="stylesheet" href="/yuna/css/trash.css">
    <script src="/yuna/js/trash.js"></script>
    <link rel="stylesheet" th:href="@{/hyeeun/css/header.css}">
    <script src="https://kit.fontawesome.com/a06d7ad725.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{hyeeun/header :: header}"></div>

<main>
    <div class="trash_notice">
        <span class="trash_noticeContent">휴지통에 있는 항목은 30일 후 완전히 삭제됩니다.</span>
        <button id="trash_EmptyTrashBtn">휴지통 비우기</button>
    </div>
    <div class="trash_folder">
        <section class="today">
            <h2 class="trash_sectionTitle">오늘</h2>
            <div class="trash_itemContainer">
                <div class="trash_itemBox" th:each="video : ${todayVideos}">
                    <div class="trash_itemHead">
                        <img src="/yuna/img/trash_videoIcon.png" alt="비디오-아이콘">
                        <p th:text="${title}"></p>
                        <div class="trash_itemClick">
                            <button class="trash_moreOptions">
                                <img src="/yuna/img/trash_3dotsIcon.png" alt="점3개">
                            </button>
                            <div class="trash_moreOptionsMenu">
                                <button class="trash_recoverBtn">
                                    <span class="recoveryText">복구하기</span>
                                </button>
                            </div>
                        </div>
                    <div class="trash_itemBody">
                        <img class="trash_img" th:src="@{${video.url}}" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="this-week">
            <h2 class="trash_sectionTitle">이번 주</h2>
            <div class="trash_itemContainer">
                <div class="trash_itemBox" th:each="video : ${thisWeekVideos}">
                    <div class="trash_itemHead">
                        <img src="/yuna/img/trash_videoIcon.png" alt="비디오-아이콘">
                        <p th:text="${title}"></p>
                        <div class="trash_itemClick">
                            <button class="trash_moreOptions">
                                <img src="/yuna/img/trash_3dotsIcon.png" alt="점3개">
                            </button>
                            <div class="trash_moreOptionsMenu">
                                <button class="trash_recoverBtn">
                                    <span class="recoveryText">복구하기</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="trash_itemBody">
                        <img class="trash_img" th:src="@{${video.url}}" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="last-1week">
            <h2 class="trash_sectionTitle">1주 전</h2>
            <div class="trash_itemContainer">
                <div class="trash_itemBox" th:each="video : ${last1WeekVideos}">
                    <div class="trash_itemHead">
                        <img src="/yuna/img/trash_videoIcon.png" alt="비디오-아이콘">
                        <p th:text="${title}"></p>
                        <div class="trash_itemClick">
                            <button class="trash_moreOptions">
                                <img src="/yuna/img/trash_3dotsIcon.png" alt="점3개">
                            </button>
                            <div class="trash_moreOptionsMenu">
                                <button class="trash_recoverBtn">
                                    <span class="recoveryText">복구하기</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="trash_itemBody">
                        <img class="trash_img" th:src="@{${video.url}}" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="last-2week">
            <h2 class="trash_sectionTitle">2주 전</h2>
            <div class="trash_itemContainer">
                <div class="trash_itemBox" th:each="video : ${last2WeeksVideos}">
                    <div class="trash_itemHead">
                        <img src="/yuna/img/trash_videoIcon.png" alt="비디오-아이콘">
                        <p th:text="${title}"></p>
                        <div class="trash_itemClick">
                            <button class="trash_moreOptions">
                                <img src="/yuna/img/trash_3dotsIcon.png" alt="점3개">
                            </button>
                            <div class="trash_moreOptionsMenu">
                                <button class="trash_recoverBtn">
                                    <span class="recoveryText">복구하기</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="trash_itemBody">
                        <img class="trash_img" th:src="@{${video.url}}" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="last-3week">
            <h2 class="trash_sectionTitle">3주 전</h2>
            <div class="trash_itemContainer">
                <div class="trash_itemBox" th:each="video : ${last3WeeksVideos}">
                    <div class="trash_itemHead">
                        <img src="/yuna/img/trash_videoIcon.png" alt="비디오-아이콘">
                        <p th:text="${title}"></p>
                        <div class="trash_itemClick">
                            <button class="trash_moreOptions">
                                <img src="/yuna/img/trash_3dotsIcon.png" alt="점3개">
                            </button>
                            <div class="trash_moreOptionsMenu">
                                <button class="trash_recoverBtn">
                                    <span class="recoveryText">복구하기</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="trash_itemBody">
                        <img class="trash_img" th:src="@{${video.url}}" alt="">
                    </div>
                </div>
            </div>
        </section>

        <section class="last-4week">
            <h2 class="trash_sectionTitle">4주 전</h2>
            <div class="trash_itemContainer">
                <div class="trash_itemBox" th:each="video : ${last4WeeksVideos}">
                    <div class="trash_itemHead">
                        <img src="/yuna/img/trash_videoIcon.png" alt="비디오-아이콘">
                        <p th:text="${title}"></p>
                        <div class="trash_itemClick">
                            <button class="trash_moreOptions">
                                <img src="/yuna/img/trash_3dotsIcon.png" alt="점3개">
                            </button>
                            <div class="trash_moreOptionsMenu">
                                <button class="trash_recoverBtn">
                                    <span class="recoveryText">복구하기</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="trash_itemBody">
                        <img class="trash_img" th:src="@{${video.url}}" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <span class="trash_upBar"><i class="fa-solid fa-angles-up"></i></span>
</main>
<div class="trashModal_popup">
    <div class="trashModal_confirm">
        <div class="trashModal_modalHeader">
            <h3>완전히 삭제하시겠습니까?</h3>
        </div>
        <div class="trashModal_modalContent">
            <p>휴지통의 모든 항목이 완전히 삭제되며<br> 복원할 수 없게 됩니다.</p>
        </div>
        <div class="trashModeal_BtnContainer">
            <button id="trashModal_cancel">취소</button>
            <button id="trashModal_delete">완전히 삭제</button>
        </div>
    </div>
</div>
</body>
</html>
