<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입이용약관</title>
    <link rel="stylesheet" href="/yoonseo/css/sign.css">
</head>
<body>
    <header>
        <div class="sign-header-img">
            <a href=""><img src="/yoonseo/img/1SOLVER솔버로고_배경없는_화이트버전 7.png"></a>
        </div>
    </header>
    <div class="sign_box">
    <div class="sign">
        <div class="sign_BtnBox2">
                <button class="close-button2" onclick="goToRegister()"><<</button>
                <button class="close-button" onclick="goToLogin()">X</button>
        </div>
    <div class="agreement-form">
        <div class="sign-title"><span>SOLVER 홈캠 이용약관</span></div>
        <div class="sign-img">
            <div class="sign-1"><img src="img/number2.png"></div>
            <div class="sign-line"></div>
            <div class="sign-2"><img src="img/number1.png"></div>
        </div>
    </div>
    <div class="agreement-form2">
        <!-- <p class="title">약관동의</p> -->
        <div class="all-check">
            <label class="checkbox">
                <input type="checkbox" class="select-all">
                <span class="txt1"> <strong>&nbsp;약관 전체 동의</strong></span>
            </label>
        </div>
        <ul class="list">   
            <span class="sign-agree"><b>필수 동의 항목</b></span>
            <li class="item">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="txt">[필수] 이용약관</span>
                </label>
                
            </li>
            <li class="item">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="txt">[필수] 개인정보 수집동의서</span>
                </label>
            </li>
            <li class="item">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="txt">[필수] 안전한 서비스 이용을 위한 보안 정책 동의</span>
                </label>
            </li>
            <span class="sign-disagree"><b>선택 동의 항목</b></span>
            <li class="item inner">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="txt">[선택] 마케팅 및 광고 수신 동의</span>
                </label>
            </li>
            <li class="item inner">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="txt">[선택] 서비스 개선을 위한 설문조사</span>
                </label>
            </li>
            <li class="item inner">
                <label class="checkbox">
                    <input type="checkbox">
                    <span class="txt">[선택] 개인화된 서비스 제공</span>
                </label>
            </li>
        </ul>
        
       <button class="submit-button">가입</button>
       <div id="myModal" class="modal">
        <div class="modal-content">
            <!-- <span class="close">&times;</span> -->
            <p class="menu_msg"><b>약관 동의를 눌러주세요!</b></p>
            <button class="btn ok_btn modal_close">확인</button>
        </div>
    </div>
    </div>
</div>
</div>
</body>
<script src="js/sign.js"></script>
</html>