<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>헤더</title>
    <link rel="stylesheet" href="/hyeeun/css/header.css">
</head>
<body>
    <div class="header_navbar">
        <img src="/hyeeun/img/solver_logo.png">
        <div class="header_menu">
            <a href="#realtime">실시간 화면</a>
            <a href="#mypage">마이페이지</a>
            <a href="#logout">로그아웃</a>
        </div>
    </div>
</body>
</html>
