* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #FBFBFB;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
}

.header_logo {

    z-index: 999;
    cursor: pointer;
    transition: opacity 0.3s ease; /* 이미지 사라짐 애니메이션 */
}

.header_navbar > a > img {
    height: 4.5vh;
    cursor: pointer;
    margin-left: 10vh;
    margin-bottom: 1vh;
}

.right_menu {
    /* background-color: cadetblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9vh;
    margin-right: 10vh;
}

.header_logo > i {
    font-size: 4vh;
    transition: transform 0.4s ease; /* 회전 애니메이션 속도 */
    z-index: 999999999;
}

/* 마우스 오버 시 한쪽으로 회전 */
.header_logo > i:hover {
    transform: rotate(30deg); /* 시계 방향으로 15도 회전 */
}

.header_navbar {
    display: flex;
    height: 6vh;
    padding-top: 1vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 9999999;
    border-bottom: 1px solid rgba(146, 146, 146, 0.219);
    /*position: fixed;*/
    background-color: #FBFBFB;
}

.header_menu {
    display: flex;
    background-color: #1f1f1f;
    height: 6vh;
    /*border-radius: 1.5vh;*/
    width: 30vh;
    align-items: center;
    justify-content: space-between;
    padding-left: 4.5vh;
    padding-right: 4.5vh;
    position: fixed;
    top: 1vh;
    right: 7vh; /* 초기에는 header_logo의 오른쪽 바깥에 숨김 */
    opacity: 0;
    transition: all 0.5s ease; /* 애니메이션 효과 */
    margin-right: 13vh;
}

/* .show 클래스가 있을 때 header_menu가 슬라이드되어 고정됨 */
.header_menu.show {
    right: 11vh; /* 왼쪽으로 슬라이드 */
    opacity: 1; /* 메뉴 표시 */
}


/* ****************************** */

.header_menu > a > i {
    color: white;
    font-size: 2.2vh;
    transition: opacity 0.3s ease;
}

.icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 2.2vh;
    color: white;
}

/* 아이콘에 마우스를 올렸을 때 텍스트 표시 */
.icon i {
    transition: opacity 0.3s ease;
}

.icon-text {
    position: absolute;
    opacity: 0;
    font-size: 1.5vh;
    color: white;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

/* 마우스 오버 시 아이콘 숨기고 텍스트 표시 */
.icon:hover i {
    opacity: 0;
}

.icon:hover .icon-text {
    opacity: 1;
}


/**********************/
/* 드롭다운 스타일 */
.dropdown {
    position: relative;
    display: inline-block;
    /* background-color: yellowgreen; */
}


#mypage-btn {
    display: inline-block;
    cursor: pointer;
    font-size: 2.2vh;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0.4vh;
    margin-top: 0.5vh;
}


.mypage-btn > i {
    color: black;
    font-size: 3vh;
}


/* 드롭다운 메뉴 스타일 */
.dropdown-content {
    display: none; /* 기본 숨기기 */
    position: absolute;
    background-color: #1f1f1f;
    width: 110px;
    padding: 10px;
    /*border-radius: 8px;*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    top: 6vh; /* 버튼 바로 아래 */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* 드롭다운 메뉴가 활성화될 때 display 변경 */
.dropdown-content.show {
    display: block;
}


/* 말풍선 삼각형 추가 */
.dropdown-content::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent #1f1f1f transparent;
}

.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 14px; /* 드롭다운 메뉴 글씨 크기 조정 */
}

.dropdown-content a:hover {
    background-color: #575757;
}

