* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body {
    width: 100%;
    height: 100vh;;
    font-family: Arial, sans-serif;
    background: linear-gradient(137.29deg, 
    #03BED6 20.13%, 
    #10B3DA 33.05%, 
    #1DA4E1 45.02%, 
    #249CE5 58.56%, 
    #2D8EED 72.11%, 
    #3084F4 83.13%);
    margin: 0;
    padding: 20px 40px;
    box-sizing: border-box;
}

.trashEmp_notice {
    background: rgba(0, 0, 0, 0.35);
    padding: 12px 40px 12px 60px;
    align-items: center;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.trashEmp_noticeContent {
    float: left;
    font-size: 1.1em;
    font-weight: 500;
    color: #fff;
}

#trash_EmptyTrashBtn {
    font-size: 0.8em;
    background-color: transparent;
    border: none;
    padding: 0;
    color: #FFFFFFE5;
    float: right;
}

#trash_EmptyTrashBtn:hover {
    color: #000000E5;
}

.trashEmp_trashIcon{
    text-align: center;
    margin: 24px;
}

.trashEmp_trashIcon img {
    width: 420px;
    height: 420px;
}

.trashEmp_content {
    text-align: center;
    line-height: 1.8;
}

.trashEmp_content h1 {
    color: #FFFFFFE5;
    font-size: 1.8em;
}

.trashEmp_content p {
    color: #E4E4E4E5;
    font-size: 1.2em;
    font-weight: 500;
}

