<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
<h2>회원리스트</h2>
<table>
    <tr>
        <th>id</th>
        <th>Email</th>
        <th>Name</th>
        <th>상세조회</th>
        <th>삭제</th>
    </tr>
    <tr th:each="user: ${userList}">
        <td th:text="${user.userNo}"></td>
        <td th:text="${user.userEmail}"></td>
        <td th:text="${user.userName}"></td>
        <td>
            <!-- query string /member?id=1
                rest api /member/1 -->
            <a th:href="@{|/change/${user.userNo}|}">조회</a>
        </td>
        <td>
            <a th:href="@{|/change/delete/${user.userNo}|}">삭제</a>
        </td>
    </tr>
</table>
</body>
</html>